* {
  box-sizing        : border-box;
}

html {
  font-size         : 14px;
}

body {
  font-family       : 'Conduit ITC W01 Light';
  background-color  : #262626;
  color             : #fff;
}

main {
  width             : 30rem;
  margin            : 0 auto;
}

output {
  display           : block;
  font-size         : 5.5rem;
  margin            : 1rem;
  text-align        : center;
}


button {
  display           : inline-block;
  padding           : 0.5em 1.7em;
  font-size         : 1.8rem;
  font-family       : inherit;
  line-height       : 1;
  background        : transparent;
  color             : #ebebeb;
  cursor            : pointer;
  border            : 1px solid #c6c8ca;
  text-transform    : uppercase;
  transition        : background 0.2s ease-out, border 0.2s ease-out;
}

button:hover {
  background        : #fd5158;
  border-color      : #fd5158;
}


#start {
  background        : #fd5158;
  border-color      : #fd5158;
  font-size         : 2.2rem;
  padding-left      : 2.5em;
  padding-right     : 2.5em;
  margin            : 0 auto;
  display           : block;
  color             : #fff;
}


.buttons {
  display           : flex;
  flex-wrap         : wrap;
  justify-content   : center;
  margin-bottom     : 2rem;
}

.buttons button {
  width             : 28%;
  margin            : 0.4rem 2%;
}
